<div class="d-flex align-items-center justify-content-between">
  <h1 class="c-header--h1 me-5">掲示板一覧</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to "新規作成", new_board_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>
<table class="table table-hover boards__table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>作成者</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @boards.each do |board| %>
    <tr>
      <td><%= link_to board.id, board %></td>
      <td><%= board.title %></td>
      <td><%= board.name %></td>
      <td><%= board.created_at.to_s(:datetime_jp) %></td>
      <td><%= board.updated_at.to_s(:datetime_jp) %></td>
      <td><%= link_to '削除', board ,method: :post, data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      }, class: "btn btn-outline-dark" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @boards %>